@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    scroll-behavior: smooth;
}

/*header style*/

header {
    background-image: url("../img/bg-img.jpg");
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    height: 1076px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none
}

h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 195px;
    font-weight: bolder;
    letter-spacing: -10px;
}

h3 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 38px;
}

button {
    outline:none;
}

h2 {
    color: #2a2d2e;
    font-family: "Poppins - Semi Bold";
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -4px;
}

h5 {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 15px 0;
}

label input {
    margin: 20px 20px 20px 0;
}

hr {
    width: 80%;
   
}

.logoMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logoMenu i {
    margin: 40px;
    color: white;
    font-size: 20px;
}

.logoImg {
    width: 78px;
    height: 48px;
    margin: 2%;
}

.sideMenu {
    width: 24px;
    height: 16px;
    margin: 2%;
    background-color: #ffffff;
}

/* open menu */

.menu{
    display: flex;
    overflow: hidden;
}

.menu i:hover {
    cursor: pointer;
    color: #bbb7b7
}

.menu-open {
    display: flex;
    align-items: center;
    margin-right: -250px;
    transition: all 300ms
}

.menu-open ul {
    display: flex;
    justify-content: center;
    background-color: #000000a8;
    border: 3px solid black;
}

.menu-open ul li {
    margin: 10px;
    color: #5f27f7;
    font-size: 20px;
}

.menu-open ul li:hover {
    color: #fafafab7
}

/* Titel */

.mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerBtn {
    width: 190px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #ffffff;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 27px;
}

.gotoBtn {
    margin: 0 50% 35px;
    position: relative;
}

.downSign {
    color: #ffffff;
    position: absolute;
}

/*Let's make your design style*/

.contentMain {
    display: flex;
    margin: 10% 0;
    justify-content: space-between;
}

.mainText {
    margin: 0 5%;
}

.imgConteiner {
    width: 60%;
    text-align: right;
}

.buttonBlack {
    width: 190px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #2a2d2e;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 27px;
}

/* Who i am? */

.mainText p {
    color: #72787a;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.imgConteiner img {
    max-width: 780px;
}


/* Grid */

.linkGrid {
    display: flex;
    justify-content: center;
}

.linkGrid ul {
    display: flex;
    margin: 5px;
}

.linkGrid li {
    margin: 0 5px;
}

.linkGrid a {
    text-decoration: none;
    color: #818586;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -0.9px;
}

.linkGrid a:hover {
    color: #2a2d2e;
}

.gridConeiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 10px
}

.gridConeiner > div {
    min-width: 385px;
    min-height: 385px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.gridItem-1 {
    background-image: url(../img/8.jpg);
    grid-area: 1/1/3/3;
}

.gridItem-2 {
    background-image: url(../img/5.jpg);
    grid-area: 1/3/2/5;
}

.gridItem-3 {
    background-image: url(../img/9.jpg);
    grid-area: 2/3/3/5;
}

.gridItem-4 {
    background-image: url(../img/6.jpg);
    grid-area: 3/1/5/2;
}

.gridItem-5 {
    background-image: url(../img/7.jpg);
    grid-area: 3/2/5/4;
}

.gridItem-6 {
    background-image: url(../img/1.jpg);
    grid-area: 3/4/4/5;
}

.gridItem-7 {
    background-image: url(../img/2.jpg);
    grid-area: 4/4/5/5;
}

.gridItem-8 {
    background-image: url(../img/11.jpg);
    grid-area: 5/1/7/3;
}
.gridItem-9 {
    background-image: url(../img/4.jpg);
    grid-area: 5/3/7/5;
}

.gridTitel {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
    margin: 2%;
}

.gridText {
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.2px;
    margin: 2%;
}

.centerButton {
    display: flex;
    justify-content: center;
    margin: 0 0 5%;
}

/* Select */

.selectSection {
    background-image: url(../img/BG_section_select.png);
    background-size: cover;
    height: 110vh;
    position: relative;
    padding: 35px 0;
}

.selectSection h4 {
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -4px;
    text-align: center;
}

.selectSection p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.selectPrice {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 50px 0
}

.selectProject img {
    padding: 10px
}

.selectProject img:hover {
    border: 1px solid white;
    border-radius: 50%;
}

.selectProject a {
    text-decoration: none;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.selectProject a:hover {
    text-decoration: line-through;
}
.textSelect {
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -1.2px;
}

.buttonW {
    width: 170px;
    height: 50px;
    border-radius: 32px;
    border: 1px solid #ffff;
    background-image: none; 
    background: transparent;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 27px;
}

.buttonW:hover {
    background-color: blue;
}


/* tranmautritam */

.tranmautritam {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.tranmautritam h2 {
    width: 60%;
}

.borderLeft {
    color: #7443ff;
    font-family: "Poppins - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    border-left: 4px solid blue;
    padding: 0 20px;
}

.textTran {
    width: 40%;
    margin: 0
}

.inputDiv {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 3px solid gray;
    margin: 7% 0;
}

.inputTran {
    width: 100%;
    height: 20px;
    border: none
}

.inputDiv:hover {
    border-bottom: 3px solid blueviolet;
}

/* contact */

.contact {
    display: flex;
    justify-content: space-around;
    margin:  5%;
}

.contactText {
    color: #2a2d2e;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -1.5px;
}

/* footer */

.textLogo {
    color: #262b40;
    font-family: "Poppins - Semi Bold";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -1.04px;
    margin: 0 20px 0;
}

.footerFlex {
    display: flex;
    align-items: center;
}

.tranmautritam p {
    margin: 20px 0
}

.textFooter {
    color: #262b40;
    font-family: "Poppins - Semi Bold";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
}

@media screen and (max-width: 1000px) {
    .contentMain {
        display: block;
        margin: 1% 0;
    }
        .buttonBlack{
            margin: 0 0 10px
    }
    .gotoBtn {
        margin: 20px
    }

    .gridItem-4 {
        background: url(../img/6.jpg);
        grid-area: 3/1/5/3;
    }
    
    .gridItem-5 {
        background: url(../img/7.jpg);
        grid-area: 3/3/5/5;
    }
    
    .gridItem-6 {
        background: url(../img/1.jpg);
        grid-area: 5/1/6/3;
    }
    
    .gridItem-7 {
        background: url(../img/2.jpg);
        grid-area: 5/3/6/5;
    }
    
    .gridItem-8 {
        background: url(../img/11.jpg);
        grid-area: 6/1/7/3;
    }
    
    .gridItem-9 {
        background: url(../img/4.jpg);
        grid-area: 6/3/7/5;
    }
        
}

@media screen and (max-width: 740px) {

    .gridConeiner {
        display: flex;
        flex-direction: column;
    }

    .gridConeiner div {
        margin: 1% 0
    }

    .tranmautritam {
        display: block;
    }

    .textTran {
        width: 90%;
    }

    .linkGrid ul {
        display: block;
        margin: 1px;
    }
    .linkGrid li {
        margin: 0 
    }

    .contact {
        display: block;
    }

    .gotoBtn {
        display: none;
    }

    .headerBtn {
        margin-bottom: 40px
    }

    .buttonBlack {
        margin: 20px 30%;
    }
}
